*{
	margin: 0;
	padding: 0;
}

/* div{
	border: #333333 1px solid;
} */

.all{
	width: 100vw;
	height: 100vh;
	background: url(../img/正在建设.png) center no-repeat;
	background-size: 30%;
}

.all .build{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	top: 560px;
	
}




















